<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BetterParts - World Class PC Hardware & Software</title>
    </head>
    <body>
        <link rel="stylesheet" href="{{ url_for('static', filename='dash.css') }}"> 
        <h1>
            BetterParts Computer Services
        </h1>
        <p>
            <img src="https://thumbs.gfycat.com/InconsequentialMenacingBrocketdeer-size_restricted.gif">
        </p>
        <p>
            Our site is currently experiencing heavy traffic.
        </p>
        <a href="/betterparts">
            <button>Click Here to Connect</button>
        </a>
        <div class="nomics-ticker-widget" data-name="Ethereum" data-base="ETH" data-quote="USD"></div><script src="https://widget.nomics.com/embed.js"></script>
        <footer>Powered by Lacrima Management Systems (LMS)</footer>
    </body>