<!DOCTYPE html>
<html lang="en">
    <body>
        <link rel="stylesheet" href="{{ url_for('static', filename='dash.css') }}"> 
        <h1>BetterParts Computer Services</h1>
        <iframe src="static\music\silence.mp3" allows="autoplay" id="audio" style="display: none">
        </iframe>
        <audio id="player" autoplay loop>
            <source src="static\music\opusone.mp3" type="audio/mpeg">
        </audio>
        <p>Welcome to BetterParts!  Please take a look around our site and click anything
            that looks interesting to you.  We hope you enjoy your stay!
        </p>
        <a href="https://downloadmoreram.com/">
            <button>Download More Ram</button>
        </a>
        <a href="https://sharepointlist.com/">
            <button>ServiceNever IT Support</button>
        </a>
        <a href="/software">
            <button>Purchase a new Operating System</button>
        </a>
        <a href="https://github.com/DanielJanowicz/BetterParts">
            <button>BetterParts.Git</button>
        </a>
        <h2>
            Coming Soon
        </h2>
        <p>
            <img src="https://c.tenor.com/S61VCO73mOAAAAAC/linux-tux.gif" alt="linux" width="200" height="200">
        </p>
        <p>
            <img src="https://images.macrumors.com/t/-j2fGL3LoM8zMj4USzeof_ZrrEI=/1600x0/article-new/2021/06/macintosh-128k-ad-modern.png" alt="Mac" width="2000" height="500">
        </p>
    </body>