
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BetterParts - Software</title>
    </head>
    <body>
        <link rel="stylesheet" href="{{ url_for('static', filename='systems.css') }}"> 
        <h1>
            BetterParts Computer Services
        </h1>
        <iframe src="static\music\silence.mp3" allows="autoplay" id="audio" style="display: none">
        </iframe>
        <audio id="player" autoplay loop>
            <source src="static\music\opusone.mp3" type="audio/mpeg">
        </audio>
        <a href="/betterparts">
            <button>Home</button>
        </a>
        <h2>
            Software
        </h2>
        <p>
            <img src="https://m.media-amazon.com/images/I/71FE5ZCNT9L._AC_.gif" alt="Mac" width="250" height="300">
        </p>
        <p>
            <a href="https://youtu.be/dQw4w9WgXcQ">
                <button>Purchase Options</button>
            </a>
        </p>
        <footer>Powered by Lacrima Management Systems (LMS)</footer>
    </body>