
<!DOCTYPE html>
<html lang="en">
    <body>
        <link rel="stylesheet" href="{{ url_for('static', filename='systems.css') }}"> 
        <h1>
            BetterParts Computer Services
        </h1>
        <a href="/betterparts">
            <button>Home</button>
        </a>
        <h2>
            Software
        </h2>
        <p>
            <img src="https://m.media-amazon.com/images/I/71FE5ZCNT9L._AC_.gif" alt="Mac" width="250" height="300">
        </p>
        <p>
            <a href="https://youtu.be/dQw4w9WgXcQ">
                <button>Purchase Options</button>
            </a>
        </p>
    </body>